.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 73px;
  background: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}

.a-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  z-index: 49;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  &__right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  &__nav {
    display: block;
    position: relative;
  }
  &__toggle {
    display: inline-block;
    position: relative;
    padding: 26px 0;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__main {
    display: none;
    position: absolute;
    top: 100%;
    left: -40px;
    width: 224px;
    margin: 0;
    padding: 22px 0;
    list-style: none;
    box-shadow: 0 11px 38px rgba(57, 150, 221, 0.26);
    border-radius: 15px;
    background-color: #ffffff;
    z-index: 50;
    li {
      display: block;
      a {
        display: block;
        padding: 14px 40px;
        color: #272727;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #0b43d3;
          text-decoration: none;
        }
      }
    }
  }
  &__menu {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 4px 0 4px 50px;
        color: #272727;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #0b43d3;
          text-decoration: none;
        }
      }
    }
  }
  &__logo {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    img,
    svg {
      max-width: 202px;
      max-height: 202px;
    }
    &-text {
      display: block;
      margin: 4px 0 0 0;
      color: #0b43d3;
      font-size: 10px;
      font-weight: 400;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__when {
    display: inline-block;
    margin: 0;
    text-align: center;
    color: #272727;
    font-size: 14px;
    font-weight: 700;
    b,
    strong {
      display: inline-block;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 700;
    }
  }
  &__column {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
  }
  &__phone {
    display: block;
    margin: 0 0 2px 0;
    color: #272727;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #0b43d3;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    padding: 5px 22px;
    box-shadow: 0 3px 8px rgba(11, 67, 211, 0.42);
    border-radius: 999rem;
    background-color: #0b43d3;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__contacts {
    display: block;
    position: relative;
  }
  &__dropper {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 26px 0;
    color: #272727;
    font-size: 18px;
    font-weight: 700;
    img,
    svg {
      display: inline-block;
      margin-left: 10px;
      transition: all 0.2s ease-out;
    }
    &_active {
      img,
      svg {
        transform: rotate(180deg);
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #0b43d3;
      text-decoration: none;
    }
  }
  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    right: -40px;
    width: 357px;
    margin: 0;
    padding: 38px 46px 28px 46px;
    list-style: none;
    box-shadow: 0 11px 38px rgba(57, 150, 221, 0.26);
    border-radius: 15px;
    background-color: #ffffff;
    li {
      display: block;
      a {
        display: block;
        padding: 14px 40px;
        color: #272727;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #0b43d3;
          text-decoration: none;
        }
      }
    }
  }
  &__info {
    display: block;
    margin: 0 0 14px 0;
    color: #272727;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    a {
      color: #272727;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #0b43d3;
        text-decoration: none;
      }
    }
  }
  &__hr {
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    margin: 26px 0 28px 0;
    background-color: #d8d8d8;
  }
}

#homeVideo {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.4);
}

.a-home-top {
  .swiper-pagination {
    bottom: 20px;
    z-index: 5;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 10px !important;
    border-radius: 999rem;
    opacity: 1;
    background-color: #ffffff;
  }
  .swiper-pagination-bullet-active {
    background: #0b43d3;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    border-radius: 999rem;
    box-shadow: 0 11px 38px rgba(57, 150, 221, 0.26);
    background-color: #ffffff;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: 0 11px 38px rgba(57, 150, 221, 0.26);
      background-color: #0b43d3;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    margin-right: 20px;
  }
  display: block;
  position: relative;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      min-height: calc(100vh - 73px);
      padding: 190px 0;
      background: rgba(0, 0, 0, 0.2);
    }
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 80px;
      font-weight: 700;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
    padding: 0 calc((100vw - 1170px) / 2);
    z-index: 5;
  }
  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 10px 44px 10px 10px;
    box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
    border-radius: 999rem;
    background-color: #0b43d3;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 26px;
      border-radius: 999rem;
      background-color: #ffffff;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      span {
        background-color: #38a9f4;
        img,
        svg {
          filter: brightness(0) invert(1);
        }
      }
      box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
      background-color: #0b43d3;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.a-home-what {
  display: block;
  position: relative;
  padding: 105px 0 85px 0;
  &__image {
    display: block;
    max-width: 100%;
  }
  &__title {
    display: block;
    margin: 0 0 48px 0;
    color: #272727;
    font-size: 40px;
    font-weight: 700;
  }
  &__content {
    display: block;
    max-width: 510px;
    p {
      display: block;
      margin: 0 0 26px 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
  &__hello {
    display: block;
    margin: 0 0 26px 0;
    color: #2d2d2d;
    font-weight: 400;
    font-size: 22px !important;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 20px;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    margin-right: 65px;
    color: #38a9f4;
    font-size: 16px;
    font-weight: 300;
    img,
    svg {
      display: block;
      max-width: 13px;
      max-height: 13px;
      margin-left: 10px;
      opacity: 0.5;
      transform: rotate(-90deg);
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 10px 26px 10px 10px;
    box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
    border-radius: 999rem;
    background-color: #0b43d3;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 26px;
      border-radius: 999rem;
      background-color: #ffffff;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      span {
        background-color: #38a9f4;
        img,
        svg {
          filter: brightness(0) invert(1);
        }
      }
      box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
      background-color: #0b43d3;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.a-home-ways {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 36px 0;
    color: #2d2d2d;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    flex: 1 1 400px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    background-position: center center;
    background-size: cover;
    text-decoration: none;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      min-height: 350px;
      padding: 32px 40px;
      background: rgba(0, 0, 0, 0.1);
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        .a-home-ways-card__title {
          img,
          svg {
            opacity: 1;
          }
        }
        padding-bottom: 155px;
        background: rgba(11, 67, 211, 0.8);
        text-decoration: none;
      }
    }
    &__title {
      display: flex;
      align-items: center;
      margin: 0;
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      img,
      svg {
        display: block;
        max-width: 21px;
        max-height: 21px;
        margin-left: 20px;
        opacity: 0;
        transition: all 0.2s ease-out;
      }
    }
  }
}

.a-home-check {
  display: block;
  position: relative;
  width: 100%;
  padding: 140px 0 100px 0;
  &__content {
    display: block;
    position: relative;
    margin-left: -30px;
  }
  &__image {
    display: block;
    max-width: 100%;
  }
  &__title {
    display: block;
    margin: 0 0 44px 0;
    color: #272727;
    font-size: 40px;
    font-weight: 700;
  }
  ul {
    display: block;
    margin: 0;
    padding: 0 0 60px 0;
    list-style: none;
    color: #272727;
    font-size: 22px;
    font-weight: 400;
    li {
      display: block;
      position: relative;
      padding: 0 0 16px 30px;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: 13px;
        top: 10px;
        width: 7px;
        height: 7px;
        border-radius: 999rem;
        background-color: #38a9f4;
      }
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 10px 38px 10px 10px;
    box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
    border-radius: 999rem;
    background-color: #0b43d3;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 26px;
      border-radius: 999rem;
      background-color: #ffffff;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      span {
        background-color: #38a9f4;
        img,
        svg {
          filter: brightness(0) invert(1);
        }
      }
      box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
      background-color: #0b43d3;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.a-home-today {
  display: block;
  padding: 0 0 100px 0;
  &__title {
    display: block;
    margin: 0;
    color: #2d2d2d;
    font-size: 40px;
    font-weight: 700;
  }
  &-card {
    display: block;
    margin: 50px 0 0 0;
    &__title {
      display: block;
      margin: 0;
      color: #0b43d3;
      font-size: 60px;
      font-weight: 700;
    }
    &__text {
      display: block;
      margin: -10px 0 0 0;
      color: #272727;
      font-size: 22px;
      font-weight: 400;
    }
  }
  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 630px;
    height: 380px;
    background-position: center center;
    background-size: cover;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        transform: scale(0.8);
      }
      text-decoration: none;
    }
  }
}

.a-home-line {
  display: block;
  position: relative;
  &__title {
    display: block;
    margin: 0 0 22px 0;
    color: #2d2d2d;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 0 45px 0;
    color: #2d2d2d;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }
}

.a-home-swiper {
  margin: 0 0 30px 0;
  .swiper-pagination {
    bottom: 20px;
    z-index: 5;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 10px !important;
    border-radius: 999rem;
    opacity: 1;
    background-color: #ffffff;
  }
  .swiper-pagination-bullet-active {
    background: #0b43d3;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    border-radius: 999rem;
    box-shadow: 0 11px 38px rgba(57, 150, 221, 0.26);
    background-color: #0b43d3;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      filter: brightness(0) invert(1);
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: none;
      }
      box-shadow: 0 11px 38px rgba(57, 150, 221, 0.26);
      background-color: #ffffff;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    top: auto;
    bottom: 130px;
    right: calc((100vw - 1170px) / 2);
  }
  .swiper-button-prev {
    top: auto;
    bottom: 130px;
    left: auto;
    right: calc((100vw - 1170px) / 2 + 80px);
  }
  display: block;
  position: relative;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      min-height: calc(100vh - 73px);
      padding: 140px 0;
      background: rgba(0, 0, 0, 0.1);
    }
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 80px;
      font-weight: 700;
    }
  }
}

.a-home-big {
  display: block;
  position: relative;
  background-position: center center;
  background-size: cover;
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 40px 0;
  }
  &__wrap {
    display: block;
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
  }
  &__title {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
  }
  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 60px 0 0 0;
    padding: 10px 40px 10px 10px;
    box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
    border-radius: 999rem;
    background-color: #0b43d3;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 26px;
      border-radius: 999rem;
      background-color: #ffffff;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      span {
        background-color: #38a9f4;
        img,
        svg {
          filter: brightness(0) invert(1);
        }
      }
      box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
      background-color: #0b43d3;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.a-home-doctors {
  display: block;
  padding: 140px 0 0 0;
  .swiper-scrollbar {
    bottom: -70px;
    background: transparent;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      top: 48%;
      background-color: rgba(56, 169, 244, 0.3);
      z-index: 0;
    }
    .swiper-scrollbar-drag {
      width: 27px;
      height: 27px;
      margin-top: -12px;
      border-radius: 999rem;
      box-shadow: 0 4px 12px rgba(57, 150, 221, 0.56);
      background: #ffffff url("../images/icon_dot.png") no-repeat center center;
      z-index: 3;
    }
  }
  /* .swiper-pagination-bullet {
    flex: 1 1 27px;
    height: 27px;
    border-radius: 999rem;
    opacity: 0;
  }
  .swiper-pagination-bullet-active {
    position: relative;
    background: transparent;
    opacity: 1;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      width: 27px;
      height: 27px;
      border-radius: 999rem;
      box-shadow: 0 4px 18px rgba(57, 150, 221, 0.56);
      background: #ffffff url("../images/icon_dot.png") no-repeat center center;
      z-index: 3;
    } */
  &__title {
    display: block;
    margin: 0 0 110px 0;
    color: #2d2d2d;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100% !important;
    padding-bottom: 120px;
    overflow: hidden;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 350px;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70px;
        background: #ffffff;
        z-index: 2;
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        left: 0;
        bottom: 70px;
        width: 100%;
        height: 140px;
        background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
        z-index: 2;
      }
      img {
        display: block;
        position: relative;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__name {
      display: block;
      margin: 0 0 14px 0;
      color: #2d2d2d;
      font-size: 24px;
      font-weight: 500;
    }
    &__who {
      display: block;
      margin: 0;
      opacity: 0.5;
      color: #2d2d2d;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.a-home-reviews {
  display: block;
  position: relative;
  padding: 90px 0 80px 0;
  .swiper-pagination {
    bottom: 0;
    z-index: 5;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 10px !important;
    border-radius: 999rem;
    opacity: 1;
    background-color: #38a9f4;
  }
  .swiper-pagination-bullet-active {
    background: #0b43d3;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: auto;
    left: auto;
    bottom: auto;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    border-radius: 999rem;
    box-shadow: 0 10px 20px rgba(57, 150, 221, 0.26);
    background-color: #ffffff;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: 0 11px 38px rgba(57, 150, 221, 0.26);
      background-color: #0b43d3;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    right: 100px;
  }
  .swiper-button-next {
    right: 20px;
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #2d2d2d;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 0 50px 0;
    color: #2d2d2d;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }
  &__cards {
    display: block;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: -120px;
    padding: 140px 20px 50px 20px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    padding: 26px 30px;
    box-shadow: 0 5px 20px rgba(57, 150, 221, 0.26);
    border-radius: 15px;
    background-color: #ffffff;
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
    &__right {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-end;
    }
    &__name {
      display: block;
      margin: 0 0 8px 0;
      color: #2d2d2d;
      font-size: 24px;
      font-weight: 400;
    }
    &__info {
      display: block;
      margin: 0;
      color: #2d2d2d;
      font-size: 16px;
      font-weight: 400;
      a {
        color: #2d2d2d;
        cursor: pointer;
        text-decoration: underline;
        transition: all 0.2s ease-out;
        &:hover {
          color: #2d2d2d;
          text-decoration: none;
        }
      }
    }
    &__rating {
      display: flex;
      align-items: center;
      margin: 5px 0 14px 0;
      i {
        margin-left: 5px;
        color: #ffc209;
        font-size: 16px;
      }
      svg {
        margin-left: 4px;
        path {
          fill: #ffc209;
        }
      }
    }
    &__date {
      display: block;
      margin: 0;
      color: #2d2d2d;
      font-size: 16px;
      font-weight: 400;
    }
    &__text {
      display: block;
      height: 144px;
      overflow: hidden;
      margin: 18px 0 0 0;
      opacity: 0.5;
      color: #2d2d2d;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    &__link {
      display: flex;
      align-items: center;
      margin: 20px 0 0 0;
      color: #38a9f4;
      font-size: 16px;
      font-weight: 400;
      svg {
        margin-right: 5px;
        path {
          fill: #38a9f4;
        }
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #38a9f4;
        text-decoration: none;
      }
    }
  }
}

.a-consult {
  display: block;
  padding: 285px 0 130px 0;
  background: url("../images/home_consult.jpg") no-repeat center center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
  }
  &__form {
    display: block;
    position: relative;
    width: 100%;
    max-width: 907px;
    margin: 0 auto;
    padding: 75px 85px 65px 85px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    input {
      display: block;
      width: 100%;
      margin: 0 0 50px 0;
      padding: 7px 2px;
      border: 0;
      border-bottom: 1px solid #0b43d3;
      background: transparent;
      color: #2d2d2d;
      font-size: 20px;
      font-weight: 400;
    }
    label {
      display: block;
      position: relative;
      margin: 0 0 8px 0;
      padding: 0;
      color: #272727;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__info {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #2d2d2d;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    a {
      color: #2d2d2d;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #2d2d2d;
        text-decoration: none;
      }
    }
  }
  &__button {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px 26px 10px 10px;
    border: 0;
    outline: none;
    box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
    border-radius: 999rem;
    background-color: #0b43d3;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 26px;
      border-radius: 999rem;
      background-color: #ffffff;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      span {
        background-color: #38a9f4;
        img,
        svg {
          filter: brightness(0) invert(1);
        }
      }
      box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
      background-color: #0b43d3;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.a-home-seo {
  display: block;
  padding: 120px 0 100px 0;
  &_page {
    padding: 70px 0 5px 0;
  }
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #2d2d2d;
    font-size: 40px;
    font-weight: 700;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    height: 106px;
    overflow: hidden;
    padding: 0 0 60px 0;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    transition: all 0.2s ease-out;
    &_active {
      height: auto !important;
    }
    p {
      display: block;
      margin: 0 0 30px 0;
      line-height: 1.5;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background: #ffffff;
      z-index: 1;
      pointer-events: none;
    }
  }
  &__more {
    display: block;
    position: relative;
    padding-right: 25px;
    color: #38a9f4;
    font-size: 16px;
    font-weight: 300;
    z-index: 2;
    &_unactive {
      cursor: pointer;
    }
    &_active {
      cursor: pointer;
      img,
      svg {
        transform: rotate(180deg);
      }
    }
    img,
    svg {
      display: inline-block;
      margin-left: 5px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #38a9f4;
      text-decoration: none;
    }
  }
}

#map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.a-contacts {
  display: block;
  position: relative;
  width: 100%;
  padding: 170px 0;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #2d2d2d;
    font-size: 40px;
    font-weight: 700;
    z-index: 3;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 0 10px 0;
    padding: 28px 120px;
    box-shadow: 0 11px 38px rgba(57, 150, 221, 0.26);
    border-radius: 15px;
    background-color: #ffffff;
    z-index: 3;
    &_active {
      &:before {
        opacity: 1 !important;
        color: #38a9f4;
      }
      &:after {
        transform: rotate(180deg);
      }
    }
    &:before {
      display: block;
      position: absolute;
      content: attr(data-number);
      top: 26px;
      left: 28px;
      opacity: 0.5;
      color: #38a9f4;
      font-size: 50px;
      font-weight: 100;
      transition: all 0.2s ease-out;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 50px;
      right: 50px;
      width: 14px;
      height: 8px;
      background: url("../images/icon_contacts_arrow.png") no-repeat center center;
      background-size: contain;
      transition: all 0.2s ease-out;
    }
    &__title {
      display: block;
      margin: 0;
      color: #494949;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    &__info {
      display: block;
      margin: 14px 0 0 0;
      color: #494949;
      font-size: 16px;
      font-weight: 400;
      a {
        color: #494949;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #0b43d3;
          text-decoration: none;
        }
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      text-decoration: none;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 180px;
    right: calc((100vw - 1170px) / 2);
    padding: 10px 50px 10px 10px;
    border: 0;
    outline: none;
    box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
    border-radius: 999rem;
    background-color: #0b43d3;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    z-index: 3;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 26px;
      border-radius: 999rem;
      background-color: #ffffff;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      span {
        background-color: #38a9f4;
        img,
        svg {
          filter: brightness(0) invert(1);
        }
      }
      box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
      background-color: #0b43d3;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.a-footer {
  display: block;
  width: 100%;
  padding: 80px 0 60px 0;
  background: #ffffff;
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__logo {
    display: inline-block;
    max-width: 210px;
    max-height: 210px;
  }
  &__nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        margin: 0 0 0 50px;
        color: #272727;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #0b43d3;
          text-decoration: none;
        }
      }
    }
  }
  &__collapse {
    display: none;
    position: relative;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #0b43d3;
  }
  &__subtitle {
    display: block;
    margin: 30px 0 26px 0;
    color: #272727;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #0b43d3;
      text-decoration: none;
    }
  }
  &__menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 16px 0;
        color: #272727;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #0b43d3;
          text-decoration: none;
        }
      }
    }
  }
  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 40px 0;
    &_active {
      img,
      svg {
        transform: rotate(180deg);
      }
    }
    &-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 2px 30px;
      background: #ffffff;
      color: #0b43d3;
      font-size: 20px;
      font-weight: 400;
      z-index: 3;
      img,
      svg {
        display: inline-block;
        margin-left: 20px;
        transition: all 0.2s ease-out;
      }
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #0b43d3;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__social {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    a {
      display: inline-block;
      margin: 0 35px 0 0;
      img,
      svg {
        display: block;
        max-width: 30px;
        max-height: 30px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
  &__policy {
    display: inline-block;
    margin: 0;
    opacity: 0.5;
    color: #272727;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #272727;
      opacity: 1;
      text-decoration: none;
    }
  }
  &__creators {
    display: inline-flex;
    align-items: center;
    img,
    svg {
      display: inline-block;
      margin-right: 10px;
    }
    a {
      opacity: 0.5;
      color: #272727;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #272727;
        opacity: 1;
        text-decoration: none;
      }
    }
  }
  &__text {
    display: inline-block;
    margin: 2px 20px 0 0;
    opacity: 0.5;
    color: #272727;
    font-size: 14px;
    font-weight: 300;
  }
}

.a-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.9);
  }
  ::placeholder {
    color: #000000;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: rotate(90deg);
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 430px;
    margin: 30px 0;
    padding: 46px;
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.26);
    background-color: #ffffff;
    z-index: 3;
    &_page {
      max-width: 500px;
      padding: 46px 50px;
      box-shadow: 0 11px 38px rgba(57, 150, 221, 0.26);
      border-radius: 15px;
      background-color: #ffffff;
      input {
        margin-bottom: 35px !important;
      }
      .a-modal__button {
        display: inline-flex;
        width: auto;
        padding-right: 42px;
        span {
          margin-right: 26px;
        }
      }
      .a-modal__info {
        margin-top: 30px;
      }
    }
    input {
      display: block;
      width: 100%;
      margin: 0 0 50px 0;
      padding: 7px 2px;
      border: 0;
      border-bottom: 1px solid #0b43d3;
      background: transparent;
      color: #2d2d2d;
      font-size: 20px;
      font-weight: 400;
    }
    label {
      display: block;
      position: relative;
      margin: 0 0 8px 0;
      padding: 0;
      color: #272727;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #272727;
    font-size: 25px;
    font-weight: 700;
  }
  &__info {
    display: block;
    margin: 45px 0 0 0;
    opacity: 0.5;
    color: #2d2d2d;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    a {
      color: #2d2d2d;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #2d2d2d;
        text-decoration: none;
      }
    }
  }
  &__button {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: 0;
    outline: none;
    box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
    border-radius: 999rem;
    background-color: #0b43d3;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 55px;
      border-radius: 999rem;
      background-color: #ffffff;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      span {
        background-color: #38a9f4;
        img,
        svg {
          filter: brightness(0) invert(1);
        }
      }
      box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
      background-color: #0b43d3;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.a-breadcrumps {
  display: block;
  position: relative;
  margin: 0;
  padding: 25px 0 65px 0;
  list-style: none;
  color: rgba(39, 39, 39, 0.4);
  font-size: 12px;
  font-weight: 400;
  z-index: 4;
  &_light {
    color: #ffffff !important;
    a {
      color: #ffffff !important;
    }
  }
  li {
    display: inline;
  }
  span {
    display: inline-block;
    margin: 0 5px;
  }
  a {
    color: rgba(39, 39, 39, 0.4);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #0b43d3;
      text-decoration: none;
    }
  }
}

.a-checkup {
  display: block;
  position: relative;
  &__title {
    display: block;
    margin: 0 0 32px 0;
    color: #2d2d2d;
    font-size: 40px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 0;
    color: #272727;
    font-size: 16px;
    font-weight: 400;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 0 30px 0;
    border-radius: 15px;
    background-color: #f8faff;
    transition: all 0.2s ease-out;
    &__image {
      display: block;
      width: 100%;
      height: 190px;
      border-radius: 15px 15px 0 0;
      background-position: center center;
      background-size: cover;
    }
    &__content {
      display: block;
      padding: 40px 30px 30px 30px;
    }
    &__what {
      display: block;
      margin: 0 0 16px 0;
      color: #2d2d2d;
      font-size: 16px;
      font-weight: 300;
      transition: all 0.2s ease-out;
    }
    &__title {
      display: block;
      margin: 0;
      color: #2d2d2d;
      font-size: 22px;
      font-weight: 500;
      transition: all 0.2s ease-out;
    }
    &__link {
      display: flex;
      align-items: center;
      margin: 52px 0 0 0;
      color: #38a9f4;
      font-size: 16px;
      font-weight: 300;
      transition: all 0.2s ease-out;
    }
    &__arrow {
      display: inline-block;
      position: relative;
      width: 18px;
      height: 13px;
      margin-left: 10px;
      background: url("../images/icon_arrow_long.png") no-repeat right center;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .a-checkup-card__what {
        color: #ffffff;
      }
      .a-checkup-card__title {
        color: #ffffff;
      }
      .a-checkup-card__arrow {
        width: 38px;
      }
      background: #0b43d3;
      text-decoration: none;
    }
  }
}

.a-service {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #272727;
    font-size: 35px;
    font-weight: 700;
  }
  &__replace {
    display: block;
    position: relative;
    width: 100%;
  }
  &__ul {
    display: block;
    margin: 0;
    padding: 0 0 25px 0;
    list-style: none;
    color: #272727;
    font-size: 22px;
    font-weight: 400;
    li {
      display: block;
      position: relative;
      padding: 0 0 16px 30px;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: 13px;
        top: 10px;
        width: 7px;
        height: 7px;
        border-radius: 999rem;
        background-color: #38a9f4;
      }
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 10px 38px 10px 10px;
    box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
    border-radius: 999rem;
    background-color: #0b43d3;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 26px;
      border-radius: 999rem;
      background-color: #ffffff;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      span {
        background-color: #38a9f4;
        img,
        svg {
          filter: brightness(0) invert(1);
        }
      }
      box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
      background-color: #0b43d3;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__toggle {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 14px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    color: #272727;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    &_services {
      font-weight: 700 !important;
      &:hover,
      &:active,
      &:focus {
        color: #272727;
        background: #f5f5f5 !important;
      }
    }
    &_form {
      border: 1px solid #0b43d3 !important;
      font-weight: 400 !important;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid #0b43d3 !important;
        background-color: #38a9f4 !important;
        color: #ffffff !important;
        font-weight: 700 !important;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__content {
    display: none;
    position: relative;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 36px 40px 40px 40px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    .a-consult__button {
      padding: 10px;
      span {
        margin-right: 55px;
      }
    }
    input {
      display: block;
      width: 100%;
      margin: 0 0 30px 0;
      padding: 7px 2px;
      border: 0;
      border-bottom: 1px solid #0b43d3;
      background: transparent;
      color: #2d2d2d;
      font-size: 20px;
      font-weight: 400;
    }
    label {
      display: block;
      position: relative;
      margin: 0 0 8px 0;
      padding: 0;
      color: #272727;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 30px 0;
    color: #272727;
    font-size: 25px;
    font-weight: 700;
  }
  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 16px 0 0 0;
        color: #272727;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: underline;
        transition: all 0.2s ease-out;
        &:hover {
          color: #0b43d3;
          font-weight: 400;
          text-decoration: none;
        }
      }
    }
  }
}

.gallery-top {
  .swiper-slide {
    display: block;
    width: 100%;
    max-width: 630px;
    height: 380px;
    background-position: center center;
    background-size: cover;
  }
}

.gallery-thumbs {
  width: calc(100% + 60px);
  margin: 40px 0 70px -30px;
  padding: 0 30px;
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    border-radius: 999rem;
    background-color: #ffffff;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      box-shadow: 0 10px 10px rgba(57, 150, 221, 0.26);
      background-color: #0b43d3;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    margin-left: -5px;
  }
  .swiper-button-next {
    margin-right: -5px;
  }
  .swiper-slide {
    display: block;
    width: 100%;
    max-width: 270px;
    height: 160px;
    opacity: 0.5;
    background-position: center center;
    background-size: cover;
  }
  .swiper-slide-thumb-active {
    opacity: 1 !important;
  }
}

.a-info {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.9);
  }
  ::placeholder {
    color: #000000;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 30px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: rotate(90deg);
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin: 30px 0;
    padding: 20px 70px 20px 20px;
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.26);
    background-color: #ffffff;
  }
  &__wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 620px;
    padding: 40px;
    border: 1px solid #e5e5e5;
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #272727;
    font-size: 25px;
    font-weight: 700;
  }
  &-collapse {
    display: block;
    position: relative;
    margin-top: -1px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 18px 0;
      color: #272727;
      font-size: 18px;
      font-weight: 400;
      &_active {
        .a-info-collapse__image {
          background: url("../images/icon_minus.png") no-repeat center center !important;
        }
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #0b43d3;
        text-decoration: none;
      }
    }
    &__image {
      width: 16px;
      height: 16px;
      background: url("../images/icon_plus_alt.png") no-repeat center center;
      transition: all 0.2s ease-out;
    }
    &__content {
      display: none;
      color: #272727;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      p {
        margin: 0 0 16px 0;
        line-height: 1.5;
      }
      ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        color: #272727;
        font-size: 16px;
        font-weight: 400;
        li {
          display: block;
          position: relative;
          padding: 0 0 16px 30px;
          &:before {
            display: block;
            position: absolute;
            content: "";
            left: 13px;
            top: 10px;
            width: 7px;
            height: 7px;
            border-radius: 999rem;
            background-color: #38a9f4;
          }
        }
      }
    }
  }
}

.simplebar-track.simplebar-vertical {
  width: 1px;
  background: #38a9f4;
  overflow: visible !important;
}

.simplebar-scrollbar {
  width: 3px;
  margin-left: -1px;
  border-radius: 2px;
  background: #0b43d3;
}

.a-article {
  display: block;
  position: relative;
  margin-top: -105px;
  &__big {
    display: block;
    position: relative;
    background-position: center center;
    background-size: cover;
    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      min-height: calc(100vh - 71px);
      padding: 80px 0;
      background: rgba(0, 0, 0, 0.1);
    }
  }
  &__title {
    display: block;
    margin: 0 0 60px 0;
    color: #ffffff;
    font-size: 80px;
    font-weight: 700;
  }
  &__content {
    display: block;
    position: relative;
    padding: 60px 0;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 20px 0;
      color: #2d2d2d;
      font-weight: 700;
    }
    h1 {
      font-size: 80px;
    }
    h2 {
      font-size: 40px;
    }
    h3 {
      font-size: 26px;
    }
    h4 {
      font-size: 18px;
    }
    h5 {
      font-size: 14px;
    }
    h6 {
      font-size: 10px;
    }
    p {
      display: block;
      margin: 0 0 15px 0;
      color: #272727;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    a {
      color: #38a9f4;
      cursor: pointer;
      transition: all 0.2s ease-out;
      text-decoration: underline;
      &:hover {
        color: #38a9f4;
        text-decoration: none;
      }
    }
    ul {
      display: block;
      margin: 0 0 30px 0;
      padding: 0;
      list-style: none;
      color: #272727;
      font-size: 16px;
      font-weight: 400;
      li {
        display: block;
        position: relative;
        padding: 0 0 16px 30px;
        &:before {
          display: block;
          position: absolute;
          content: "";
          left: 13px;
          top: 6px;
          width: 7px;
          height: 7px;
          border-radius: 999rem;
          background-color: #38a9f4;
        }
      }
    }
    img,
    svg {
      max-width: 100%;
    }
    figure {
      margin: 0 0 30px 0;
    }
    figcaption {
      display: block;
      margin: 22px 0 5px 0;
      opacity: 0.5;
      color: #2d2d2d;
      font-size: 16px;
      line-height: 1.5;
    }
    blockquote {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 30px 0;
      padding: 32px 55px;
      border-radius: 30px;
      background-color: #f5f5f5;
      color: rgba(45, 45, 45, 0.5);
      font-size: 16px;
      line-height: 1.5;
      font-style: italic;
      &:before {
        display: block;
        position: absolute;
        content: "";
        top: 30px;
        left: 30px;
        width: 5px;
        height: calc(100% - 60px);
        background: #0b43d3;
      }
    }
  }
  .table {
    margin: 0 0 30px 0;
    text-align: center;
    th:first-child {
      text-align: left;
    }
    th:last-child {
      text-align: right;
    }
    td:first-child {
      text-align: left;
    }
    td:last-child {
      text-align: right;
    }
  }
  .table td,
  .table th {
    padding: 17px 28px;
    border-bottom: 12px solid #ffffff;
    border-top: 12px solid #ffffff;
    background: #f5f5f5;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 400;
  }
  .table thead th {
    padding: 14px 28px;
    border: 0;
    background: #0b43d3;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
  }
}

.a-avicena {
  display: block;
  position: relative;
  padding: 0 0 30px 0;
  &__title {
    display: block;
    margin: -10px 0 25px 0;
    color: #2d2d2d;
    font-size: 40px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 0 0 44px 0;
    color: #0b43d3;
    font-size: 16px;
    font-weight: 700;
  }
  &__link {
    display: inline-block;
    padding: 5px 20px;
    box-shadow: 0 3px 8px rgba(11, 67, 211, 0.42);
    border-radius: 999rem;
    background-color: #0b43d3;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: 0 5px 20px rgba(11, 67, 211, 0.6);
      color: #ffffff;
      text-decoration: none;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    padding: 36px 0 6px 140px;
    border-top: 1px solid #d8d8d8;
    &__number {
      display: block;
      position: absolute;
      top: 30px;
      left: 0;
      color: #38a9f4;
      font-size: 50px;
      font-weight: 100;
    }
    &__row {
      display: flex;
      align-items: flex-start;
    }
    &__subtitle {
      display: block;
      width: 140px;
      margin: 3px 0 30px 0;
      opacity: 0.5;
      color: #272727;
      font-size: 16px;
      font-weight: 400;
    }
    &__info {
      display: block;
      margin: 0 0 30px 0;
      color: #272727;
      font-size: 20px;
      font-weight: 400;
      a {
        color: #272727;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #0b43d3;
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .a-home-top-card__title {
    font-size: 42px;
  }
  .a-home-swiper-card__title {
    font-size: 38px;
  }
  .a-home-big__title {
    font-size: 38px;
  }
  .a-consult__title {
    font-size: 32px;
  }
  .a-contacts__button {
    position: relative;
    right: auto;
    bottom: auto;
  }
  .a-header__when {
    display: none;
  }
  .a-header__logo {
    max-width: 200px;
  }
  .a-header__logo-text {
    font-size: 6px;
  }
  .a-header__column {
    padding: 0 6px;
  }
  .a-header__contacts {
    display: none;
  }
  .a-header__phone {
    font-size: 14px;
  }
  .a-header__button {
    padding: 6px;
  }
  .a-header__logo img,
  .a-header__logo svg {
    max-width: 150px;
  }
  .a-modal__content {
    padding: 40px 20px;
  }
  .a-home-top .swiper-button-next {
    position: absolute;
    right: 15px;
    bottom: -65px;
  }
  .a-home-top .swiper-button-prev {
    position: absolute;
    left: 15px;
    bottom: -65px;
  }
  .a-home-top__row {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .a-home-what {
    padding: 40px 0;
  }
  .a-home-what__title {
    margin: 0 0 20px 0;
    font-size: 36px;
  }
  .a-home-what__button {
    margin: 25px 0;
    font-size: 14px;
  }
  .a-home-ways__title {
    margin: 0 0 20px 0;
    font-size: 36px;
  }
  .a-home-ways-card__content {
    min-height: 260px;
  }
  .a-home-check {
    padding: 40px 0;
  }
  .a-home-check__content {
    margin: 0;
  }
  .a-home-check__title {
    margin: 20px 0;
    font-size: 36px;
  }
  .a-home-check ul {
    padding-bottom: 30px;
  }
  .a-home-today__title {
    font-size: 36px;
  }
  .a-home-today-card {
    margin: 15px 0;
  }
  .a-home-today__video {
    height: 300px;
  }
  .a-home-today {
    padding-bottom: 40px;
  }
  .a-home-line__title {
    margin: 20px 0;
    font-size: 36px;
  }
  .a-home-swiper-card__content {
    min-height: 400px;
  }
  .a-home-swiper .swiper-button-prev {
    bottom: 5px;
    left: 5px;
  }
  .a-home-swiper .swiper-button-next {
    bottom: 5px;
    right: 5px;
  }
  .a-home-big__content {
    min-height: 400px;
  }
  .a-home-big__button {
    margin: 20px 0 0 0;
  }
  .a-home-doctors {
    padding: 40px 0;
  }
  .a-home-reviews__title {
    margin: 20px 0;
    font-size: 36px;
  }
  .a-home-reviews-card {
    margin: 0 auto;
  }
  .a-home-reviews__cards {
    width: calc(100% + 30px);
    margin-top: -40px;
    margin-left: -15px;
    padding: 80px 15px 20px 15px;
  }
  .a-home-reviews-card__right {
    align-items: center;
  }
  .a-home-doctors__title {
    margin: 0 0 20px 0;
    font-size: 36px;
  }
  .a-home-doctors__cards {
    padding-bottom: 60px;
  }
  .a-home-doctors .swiper-pagination {
    width: 100%;
    left: 0;
  }
  .a-home-reviews {
    padding: 5px 0 40px 0;
  }
  .a-home-ways-card {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
  }
  .a-consult {
    padding: 20px 0;
  }
  .a-consult__title {
    margin: 0 0 20px 0;
    font-size: 36px;
  }
  .a-consult__form {
    padding: 30px 20px;
  }
  .a-consult__form input {
    margin-bottom: 20px;
  }
  .a-consult__button {
    margin-bottom: 20px;
    font-size: 13px;
  }
  .a-home-seo {
    padding: 40px 0;
  }
  .a-home-seo__title {
    margin: 0 0 20px 0;
    font-size: 36px;
  }
  #map {
    position: relative;
    height: 400px;
  }
  .a-contacts {
    padding: 0;
  }
  .a-contacts__title {
    margin: 20px 0;
    font-size: 36px;
  }
  .a-contacts-card {
    margin: 5px 0;
    padding: 28px 65px;
  }
  .a-contacts-card:before {
    left: 20px;
    font-size: 26px;
  }
  .a-footer {
    padding: 20px 0;
  }
  .a-footer__nav {
    margin: 20px 0;
  }
  .a-footer__nav li {
    display: block;
    a {
      display: block;
      margin: 0;
      padding: 6px 0;
    }
  }
  .a-footer__subtitle {
    margin: 20px 0 10px 0;
  }
  .a-footer__social {
    margin-bottom: 10px;
  }
  .a-breadcrumps {
    padding: 25px 0;
  }
  .a-checkup__title {
    margin-bottom: 20px;
  }
  .a-checkup__text {
    margin-bottom: 20px;
  }
  .gallery-top .swiper-slide {
    height: 300px;
  }
  .a-service__title {
    margin: 20px 0;
  }
  .gallery-thumbs {
    margin: 20px 0;
  }
  .a-service__toggle {
    margin: 5px 0;
  }
  .a-footer__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .a-service__content {
    padding: 30px 20px;
  }
  .a-info__content {
    padding: 20px;
    .simplebar-content {
      padding: 20px;
    }
  }
  .a-info__close {
    padding: 3px;
  }
  .a-article__title {
    margin: 0 0 20px 0;
    font-size: 42px;
  }
  .a-article__content {
    padding: 40px 0;
  }
  .a-avicena__link {
    margin-bottom: 30px;
  }
  .a-avicena-card {
    padding-left: 70px;
  }
  .a-avicena-card__row {
    flex-flow: column nowrap;
  }
  .a-avicena-card__subtitle {
    margin: 0 0 10px 0;
  }
  #homeVideo {
    height: 100% !important;
    width: auto;
    transform: none;
  }
  .a-home-top__row {
    justify-content: flex-start;
    padding: 0 15px;
  }
  .gallery-thumbs {
    width: 100%;
    padding: 0;
    margin: 30px 0;
  }
  .a-header__logo img,
  .a-header__logo svg {
    max-width: 140px;
  }
  .a-header__column {
    padding: 0 2px;
  }
  .a-service__title {
    font-size: 28px;
  }
  .a-header__phone {
    font-size: 12px;
  }
  .a-header__button {
    font-size: 12px;
  }
  .a-service__button {
    margin-bottom: 40px;
  }
  .gallery-thumbs {
    margin: 10px 0;
  }
  .gallery-thumbs .swiper-button-next,
  .gallery-thumbs .swiper-button-prev {
    outline: none;
  }
  .a-home-doctors .swiper-scrollbar {
    bottom: -45px;
  }
}
